<html>

<title>SELF DRIVING CAR</title>

<style>
body {
  background-color: rgb(29, 1, 1);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}
</style>
<!--<head>-->
    <!--<script type = "text/javascript" src = "testjs.js" ></script>-->

<!--</head>-->
<body>

<h1><br>SELF DRIVING CAR</h1>

<p><%= message %></p>
<img src=<%= image %> alt="Camera"/>
<p><%= captime %></p>


</body>
</html>
