<html>

<title>SELF DRIVING CAR</title>

<style>
body {
  background-color: rgb(11, 235, 40);
  text-align: center;
  color: rgb(14, 3, 3);
  font-family: Arial, Helvetica, sans-serif;
}
</style>
<!--<head>-->
    <!--<script type = "text/javascript" src = "testjs.js" ></script>-->

<!--</head>-->
<body>

<h1><br>SELF DRIVING CAR</h1>

<p><%= message %></p>
<img src=<%= image %> alt="Camera"/>
<p><%= captime %></p>

<script>
  setTimeout(function () { 
    window.location.reload();
  },2000);
  </script>

</body>
</html>
